@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Inject] IFeatureManager FeatureManager { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        if (!(await FeatureManager.IsEnabledAsync(FeatureConstants.Counter)))
        {
            NavigationManager.NavigateTo("", true);
            return;
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
