@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Written by Nicola Biada
            <a href="https://biada.it/" target="_blank" title="https://biada.it"><i class="bi bi-globe"></i></a>
            <a href="https://linkedin.com/in/nicolabiada" target="_blank" title="Linkedin profile"><i class="bi bi-linkedin"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
